.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: #f8f8f8;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px 100px;
  > * {
    flex: 1;
    margin: 0 auto;
  }
}
