.button {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 2px 0px;

  * {
    margin: 0 !important;
  }

  > *:first-child {
    margin-right: 10px !important;
    width: 100px;
  }
}

.vertical {
  flex-direction: column;
  width: 300px;
  > * {
    width: 100%;
    justify-content: center;
  }
}
